@import url('https://fonts.googleapis.com/css2?family=Alkatra&family=Be+Vietnam+Pro:ital,wght@0,400;1,100;1,300;1,600&family=Dancing+Script:wght@400;500;600&family=Dongle:wght@300&family=Familjen+Grotesk:wght@400;600;700&family=PT+Sans&family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;1,200&family=Roboto:ital,wght@0,100;0,300;0,400;1,100;1,300&family=Sedgwick+Ave+Display&family=Tilt+Prism&display=swap');

:root {
  --main: hsl(12, 88%, 59%);
  --DarkBlue: hsl(228, 39%, 23%);
  --DarkGrayishBlue: hsl(227, 12%, 61%);
  --VeryDarkBlue: hsl(233, 12%, 13%);
  --VeryPaleRed: hsl(13, 100%, 96%);
  --VaryLightGray: hsl(0, 0%, 98%);
  --box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  --box-shadow-thick: 0 0.5rem 1rem rgba(0, 0, 0, 0.3);
  --white: #fff;
  --black: #000;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: none;
  outline: none;
  text-decoration: none;
  list-style: none;
  font-family: 'Be Vietnam Pro', sans-serif;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
}

html::-webkit-scrollbar {
  width: 1rem;
}

html::-webkit-scrollbar-track {
  background-color: var(--white);
}

html::-webkit-scrollbar-thumb {
  background-color: var(--main);
}

/* utilities */
.container {
  max-width: 1120px;
  margin: 0 8%;
}

.btn {
  padding: 10px 20px;
  background: var(--main);
  border-radius: 20px;
  color: var(--white);
  align-self: center;
  margin-top: -10px;
}

.btn:hover {
  transform: translateY(-2px);
  transition: .2s ease-in-out;
}
/* header */
.header {
  padding-top: 3rem;
  padding-bottom: 2rem;
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  color: var(--VaryLightGray);
  z-index: 1000;
}

.header.active {
  box-shadow: var(--box-shadow);
  background-color: var(--white);
}

.header .container {
  display: flex;
  justify-content: space-between;


}

.navbar a {
  margin-left: 2rem;
  font-size: 1.2rem;
  color: var(--black);
  text-align: center;
}

.navbar a:hover {
  color: var(--main);
  font-weight: bold;
}

#menu-btn {
  font-size: 2.5rem;
  cursor: pointer;
  display: none;
  color: var(--black);
}

/* showcase section */
.showcase {
  margin-top: 20vh;
  font-size: 1.3rem; 
}

.showcase .container {
  display: grid;
  grid-template-columns: 45% 55%;
  
}

.showcase .container .left {
  width: 500px;
}

.showcase .container .left h1 {
  font-size: 5rem;
  color: var(--DarkBlue);
}
.showcase .container .left p {
  font-size: 1.3rem;
  color: var(--DarkGrayishBlue);
  width: 280px;
  margin-top: 20px;
  line-height: 1.5;
}
.showcase .container .left .btn{
  margin-top: 20px;
}
.showcase .container .showcase-img{
  position: relative;
  top: -50px;
  height: 90%;
  width: 100%;
}
/* more section */
.more{
  margin-top: 30px;
}
.more .container{
  display: grid;
  grid-template-columns:repeat(2,1fr); 
  gap: 30px;
}
.more .container .left{
  width: 70%;
}
.more .container .left h1{
  font-size: 3rem;
}
.more .container .left p{
  color: var(--DarkGrayishBlue);
  line-height: 1.5;
  font-size: 1.2rem;
  margin-top: 2rem;
}
.more .container .right{
  display: flex;
  flex-direction: column;
  gap: 5rem;
}
.more .container .right h2{
  font-size: 2rem;
}
.more .container .right p{
  color: var(--DarkGrayishBlue);
  line-height: 1.5;
  font-size: 1.3rem;
  margin-top: 2rem;
  margin-left: 8.5rem;
  width: 70%;
}
.more .container .right .flex-head{
  display: flex;
  align-items: center;
  gap: 30px;
}
.more .container .right span{
  background: var(--main);
  color: var(--white);
  padding:10px 20px;
  font-size: 1.5rem;
  font-weight: bolder;
   border-radius: 20px; 
}
/* comment section */
.comment{
  margin-top: 20vh;
}
.comment .container h1{
  text-align: center;
  font-size: 4rem;
  font-weight: bolder;
}
.comment .container .comment-seg{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  text-align: center;
  gap: 100px;
  margin-top: 15vh;
}
.comment .container .comment-seg h4{
  margin-top: 20px;
  font-size: 1.5rem;
}
.comment .container .comment-seg p{
color: var(--DarkGrayishBlue);
line-height: 1.5;
margin-top: 20px;
}
.comment .container .comment-seg img{
  height: 30%;
}
.rem{
  display: none;
}



















/* media queries */
@media (max-width:1124px){
  html{
    font-size: 60%;
    }
    .showcase {
      margin-top: 15vh;
      font-size: 1.3rem;
    }
    .showcase .container .left {
      width: 300px;
  }
  .showcase .container .left h1 {
    font-size: 3.5rem;
    color: var(--DarkBlue);
  }
  .showcase .container .left p {
    font-size: 1.3rem;
    color: var(--DarkGrayishBlue);
    width: 280px;
    margin-top: 20px;
  }
} 
@media (max-width:991px) {
  html {
    font-size: 55%;
  }
 
}

@media (max-width:768px) {
  .navbar {
    position: absolute;
    top: 120%;
    left: 0;
    right: 0;
    background: var(--white);
    box-shadow: var(--box-shadow-thick);
    transition: .2s linear;
    display: none;
    max-width: 80%;
    margin: 0 auto;
  }
  

  .navbar.active {
    display: block;
    transition: .2s linear;
  }

  .navbar a {
    display: block;
    margin: 3rem;
    font-size: 1.7rem;
    font-weight: bolder;
    transition: .2s linear;
  }

  .remove {
     display: none; 
  }

  #menu-btn.fa-times {
    transform: rotate(180deg);
    transition: .2s linear;
  }

  #menu-btn {
    display: inline-block;
    transition: .2s linear;
  }
  .showcase {
    margin-top: 10vh;
    font-size: 1.3rem;
  }
  
  .showcase .container {
    display: flex;
    flex-direction: column-reverse;
  }
  .showcase .container .left{
    text-align: center;
     margin: 0 auto;
     width: 100%;
  }
  .showcase .container .left h1{
   font-size: 4rem;
  }
  .showcase .container .left p{
   font-size: 2rem;
   width: 100%;
  }
  .showcase .container .showcase-img{
    width: 80%;
    margin: 0 auto;
  }
  .more{
    margin-top: 70px;
  }
  .more .container{
    display: grid;
    grid-template-columns: 1fr;
    gap: 30px;
  }
  .more .container .left{
    width: 70%;
    text-align: center;
    margin: 0 auto;
  }
  .more .container .left h1{
    font-size: 2.5rem;
  }
  .more .container .left p{
    color: var(--DarkGrayishBlue);
    line-height: 1.5;
    font-size: 1.2rem;
    margin-top: 2rem;
  }
  .more .container .right{
    gap: 5rem;
  }
  .more .container .right h2{
    font-size: 2rem;
  }
  .more .container .right p{
    margin-top: 1.5rem;
    margin-left: 0;
    width: 100%;
  }
  .more .container .right .flex-head{
    gap: 10px;
    background:#FFD580 ;
  }
  .more .container .right span{
    background: var(--main);
    color: var(--white);
    padding:5px 10px;
    font-size: 1.5rem;
    font-weight: bolder;
     border-radius: 20px; 
  }
}

@media (max-width:459px) {
  html {
    font-size: 50%;
  }
  .showcase .container .left h1{
    font-size: 3rem;
   }
   .showcase .container .left p{
    font-size: 1.5rem;
  
   }
  .showcase .container .showcase-img{
    width: 50%;
    margin: 0 auto;
  }
}